In [21]:
import pandas as pd

In [22]:
pd.set_option('display.max_colwidth', None)

In [42]:
# Getting the list of kind of business
data = pd.read_csv('E:\\FJING\\Assesments\\Carnival\\data\\retail\\us_retail_sales.csv', delimiter=',')
data["code_f3d"] = data["naics_code"].astype(str).apply(lambda x: x[:3])
list_kind_of_business = data[["code_f3d", "kind_of_business"]].groupby("code_f3d").agg(set).reset_index(drop=False)


list_kind_of_business['kind_of_business_set'] = list_kind_of_business.index

list_kind_of_business

,code_f3d,kind_of_business,kind_of_business_set
0,441,"{Automotive parts, acc., and tire stores, Used car dealers, Automobile and other motor vehicle dealers, New car dealers, Automobile dealers, Motor vehicle and parts dealers}",0
1,442,"{Floor covering stores, Home furnishings stores, Furniture, home furn, electronics, and appliance stores, Furniture stores, All other home furnishings stores, Furniture and home furnishings stores}",1
2,443,"{Electronics and appliance stores, Electronics stores, Household appliance stores}",2
3,444,"{Paint and wallpaper stores, Building mat. and supplies dealers, Hardware stores, Building mat. and garden equip. and supplies dealers}",3
4,445,"{Grocery stores, Supermarkets and other grocery (except convenience) stores, Beer, wine, and liquor stores, Food and beverage stores}",4
5,446,"{Pharmacies and drug stores, Health and personal care stores}",5
6,447,{Gasoline stations},6
7,448,"{Clothing stores, Women's clothing stores, Family clothing stores, Other clothing stores, Shoe stores, Jewelry stores, Men's clothing stores, Clothing and clothing access. stores}",7
8,451,"{Sporting goods stores, Book stores, Sporting goods, hobby, musical instrument, and book stores, Hobby, toy, and game stores}",8
9,452,"{Discount dept. stores, All other gen. merchandise stores, Warehouse clubs and superstores, Department stores, Other general merchandise stores, Department stores(excl. discount department stores), General merchandise stores}",9
10,453,"{Gift, novelty, and souvenir stores, Office supplies, stationery, and gift stores, Used merchandise stores, Office supplies and stationery stores, Miscellaneous store retailers}",10
11,454,"{Nonstore retailers, Electronic shopping and mail-order houses, Fuel dealers}",11
12,722,"{Food services and drinking places, Limited service eating places, Full service restaurants, Restaurants and other eating places, Drinking places}",12
13,nan,"{Retail sales and food services excl motor vehicle and parts, Retail sales and food services excl gasoline stations, Retail sales and food services excl motor vehicle and parts and gasoline stations, Retail sales, total, Retail sales, total (excl. motor vehicle and parts dealers), GAFO(1), Retail and food services sales, total}",13

In [52]:
result = pd.merge(data,list_kind_of_business[['code_f3d','kind_of_business_set']], on = 'code_f3d')
result = result.drop(columns=['code_f3d'])
result

,sales_month,naics_code,kind_of_business,reason_for_null,sales,kind_of_business_set
0,1992-01-01,441,Motor vehicle and parts dealers,NaN,29811.0,0
1,1992-01-01,4411,Automobile dealers,NaN,25800.0,0
2,1992-01-01,"4411, 4412",Automobile and other motor vehicle dealers,NaN,26788.0,0
3,1992-01-01,44111,New car dealers,NaN,24056.0,0
4,1992-01-01,44112,Used car dealers,NaN,1744.0,0
...,...,...,...,...,...,...
22615,2020-12-01,NaN,GAFO(1),NaN,144871.0,13
22616,2020-12-01,NaN,Retail sales and food services excl motor vehicle and parts,NaN,494937.0,13
22617,2020-12-01,NaN,"Retail and food services sales, total",NaN,611429.0,13
22618,2020-12-01,NaN,Retail sales and food services excl gasoline stations,NaN,574794.0,13
22619,2020-12-01,NaN,Retail sales and food services excl motor vehicle and parts and gasoline stations,NaN,458302.0,13

In [60]:
cwd = os.getcwd()
path = cwd + "/sufyan/us_retail_sales_data.csv"
result.to_csv(path)

In [ ]:
# next step: import data into MS SQL Database